<!DOCTYPE html>
<html>
    <head>
        <title>Zodiac_2</title>
    </head>
    
    <body>
        <p>Introduce tu clave personal y descubre tu nuevo grupo zodiacal! </p>

        <form method='post'>
            <input name='text'>
            <input type='submit' value='Calcular nuevo signo del zodiaco'>
        </form>

        {% if prediction %}
            <p>Tu nuevo signo del zodiaco es el <b>Grupo {{prediction}} 😋</b>.</p>
            <p>Puedes encontrar una descripción detallada de él <a href='https://drive.google.com/file/d/1yrdgNrVRPJsVvvs563M0vLbVPer8XUx9/view?usp=sharing' target='_blank'>aquí</a>.</p>
        {% endif %}

    </body>
</html>

